<section>
  <div class="row">
    <div class="4u image">
      <img src="../assets/bhavik_coding.jpg" alt="">
    </div>
    <h2 id="about">About Bhavik</h2>
    <p id="resume">
      <%=
        link_to 'Resume',
        asset_path("Bpatel-Resume.pdf"),
        :target => "_blank"
      %>
    </p>
    <div class="description-div">
      <p class="description about">
        I love to run, hike, and just generally be outdoors. I think my greatest strength is consistantly putting myself in uncomfortable situations when things get comfortable. In my previous life I worked as an analyst in various financial roles, but now i’m an aspiring Software Developer in training to build web products to make peoples' life easier. 
      </p>
      <p class="description about">
Currently living in <span>San Francisco</span>,
      </p>
      <p id="email">
        bhavikpatel576@gmail.com
      </p>
    </div>
  </div>
</section>
