<header>
  <h2>Blog</h2>
</header>
<p>
  Links to some random blog entries that i've written.
</p>
<section>
  <div class="row">
    <div class="4u">
      <div class="image fit no-shadow">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="4u">
      <div class="image fit no-shadow">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="4u">
      <div class="image fit no-shadow">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
      </div>
    </div>
  </div>
</section>