<header>
  <h2>Projects</h2>
</header>
<p>
  A selection of fun apps I've made. Ask me about what I'm working on now!
</p>
<section>

  <div class="row">
    <div class="4u">
      <a
        class="image fit"
        target="_blank">
        <img src="https://thumbs.gfycat.com/ThriftyQuaintGalah-size_restricted.gif" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>3D-Wireframe</h3>
      <a
        href="https://github.com/Bhavikpatel576/42/tree/master/FdF"
        target="_blank">
        Github
      </a>
      <p class="description">
        Built a 3d wireframe work with C and the mlx library for the graphics engine.
      </p>
      <ul>
        <li>
          ▹ Implemented Bresenham's line algorithm
        </li>
        <li>
          ▹ Project demonstrates one's ability to understand and create space perspective within a 2D plane 
        </li>
        <li>
          ▹ Graphics engine is leveraged off the minilibx library that is a simple x-window programming API in C.
        </li>
      </ul>
    </div>
  </div> <!-- Closed tags for 3D wireframework -->

  <div class="row">
    <div class="4u alt">
      <a
        href="http://chapp-room.herokuapp.com/"
        class="image fit" id="chApp"
        target="_blank">
        <img src="../assets/wolf3d.png" alt="">
      </a>
    </div>
    <div class="description-div alt-description">
      <h3>Wolf-3D</h3>
      <a
        href="https://github.com/bhavikpatel576"
        target="_blank">
        Github
      </a>
      <p class="description">
        Recreated a portion of the famed 1992 Wolfenstein 3D first person shooter game.
      </p>
      <ul>
        <li>
          ▹ Uses the ray casting technique to represent space and movement
        </li>
        <li>
          ▹ Multithreaded image for optimization amoung 16 cores
        </li>
      </ul>
    </div>
  </div> <!-- Close of Wolf3d -->

  <div class="row">
    <div class="4u">
      <a
        href="https://hangman576.herokuapp.com/"
        class="image fit"
        target="_blank">
        <img src="../assets/hangman.png" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>Learn To Build a Hangman App!</h3>
      <a
        href="https://hangman576.herokuapp.com/"
        target="_blank">
        Live
      </a>
       ・
      <a
        href="https://github.com/Bhavikpatel576/Hangman"
        target="_blank">
        Github
      </a>
      <p class="description">
        A simple Hangman Application to show students at 42's summer bootcamp how to build an application with Sinatra
      </p>
      <ul>
        <li>
          ▹ Tutorial covers understanding HTTP routes and requests
        </li>
        <li>
          ▹ What templating langauges do. We use erb for this project.
        </li>
        <li>
          ▹ How to use MiniTest for application testing.
        </li>
      </ul>
    </div>
  </div> <!-- Close of Hangman -->

</section>