<header>
  <h2>Projects</h2>
</header>
<p>
  A selection of fun apps I've made. Ask me about what I'm working on now!
</p>
<section>

  <div class="row">
    <div class="4u alt">
      <a
        class="image fit"
        target="_blank">
        <img src="https://thumbs.gfycat.com/ThriftyQuaintGalah-size_restricted.gif" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>3D-Wireframe</h3>
      <a
        href="https://github.com/Bhavikpatel576/42/tree/master/FdF"
        target="_blank">
        Github
      </a>
      <p class="description">
        Built a 3d wireframe work with C and the mlx library for the graphics engine.
      </p>
      <ul>
        <li>
          ▹ Implemented Bresenham's line algorithm
        </li>
        <li>
          ▹ Project demonstrates one's ability to understand and create space perspective within a 2D plane 
        </li>
        <li>
          ▹ Graphics engine is leveraged off the minilibx library that is a simple x-window programming API in C.
        </li>
      </ul>
    </div>
  </div> <!-- Closed tags for 3D wireframework -->

<div class="row">
    <div class="4u">
      <a
        class="image fit"
        target="_blank">
        <img src="../assets/Fractal2.gif" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>Julia Set</h3>
      <a
        href="https://github.com/Bhavikpatel576/mandelbrot"
        target="_blank">
        Github
      </a>
      <p class="description">
        Program to visulize the Julia Set
      </p>
      <ul>
        <li>
          ▹ Implemented Mandelbrot's escape time algorithm in order to create a visual fractal
        </li>
        <li>
          ▹ Graphics engine is leveraged off the minilibx library that is a simple x-window programming API in C.
        </li>
      </ul>
    </div>
  </div> <!-- Closed tags for Fractal -->

  <div class="row">
    <div class="4u alt">
      <a
        href="https://github.com/Bhavikpatel576/wolfenstein"
        class="image fit" id="chApp"
        target="_blank">
        <img src="../assets/wolf3d.png" alt="">
      </a>
    </div>
    <div class="description-div alt-description">
      <h3>Wolf-3D</h3>
      <a
        href="https://github.com/Bhavikpatel576/wolfenstein"
        target="_blank">
        Github
      </a>
      <p class="description">
        Recreated a portion of the famed 1992 Wolfenstein 3D first person shooter game.
      </p>
      <ul>
        <li>
          ▹ Uses the ray casting technique to represent space and movement
        </li>
        <li>
          ▹ Multithreaded image for optimization amoung 16 cores
        </li>
      </ul>
    </div>
  </div> <!-- Close of Wolf3d -->

  <div class="row">
    <div class="4u">
      <a
        href="https://hangman576.herokuapp.com/"
        class="image fit"
        target="_blank">
        <img src="../assets/hangman.png" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>Learn To Build a Hangman App!</h3>
      <a
        href="https://hangman576.herokuapp.com/"
        target="_blank">
        Live
      </a>
       ・
      <a
        href="https://github.com/Bhavikpatel576/Hangman"
        target="_blank">
        Github
      </a>
      <p class="description">
        A simple Hangman Application to show students at 42's summer bootcamp how to build an application with Sinatra
      </p>
      <ul>
        <li>
          ▹ Tutorial covers understanding HTTP routes and requests
        </li>
        <li>
          ▹ What templating langauges do. We use erb for this project.
        </li>
        <li>
          ▹ How to use MiniTest for application testing.
        </li>
      </ul>
    </div>
  </div> <!-- Close of Hangman -->
  <!-- Sinatra To-do -->
  <div class="row">
    <div class="4u alt">
      <a
        href="https://bhavik-productivity-app.herokuapp.com/"
        class="image fit"
        target="_blank">
        <img src="../assets/todo_sinatra.png" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>Todo Application</h3>
      <a
        href="https://bhavik-productivity-app.herokuapp.com/"
        target="_blank">
        Live
      </a>
       ・
      <a
        href="https://github.com/Bhavikpatel576/productivity_app"
        target="_blank">
        Github
      </a>
      <p class="description">
        A Todo App built with Sinatra Microframework, AJAX in order to delete list items, and PostgreSQL
        to store data.
      </p>
      <ul>
        <li>
          ▹ Safely handle inserting parameters into SQL statements with PG::Connection#exec_params.
        </li>
      </ul>
    </div>
  </div> <!-- Close of Sinatra Todo List -->
  <!-- Highcharts graph -->
<div class="row">
    <div class="4u">
      <a
        href="https://fathomless-reef-55968.herokuapp.com/"
        class="image fit"
        target="_blank">
        <img src="../assets/highcharts.png" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>Highcharts Application</h3>
      <a
        href="https://fathomless-reef-55968.herokuapp.com/"
        target="_blank">
        Live
      </a>
       ・
      <a
        href="https://github.com/Bhavikpatel576/productivity_app"
        target="_blank">
        Github
      </a>
      <p class="description">
        A demonstration of using Highcharts to dynamically display JSON data.
      </p>
      <ul>
        <li>
          ▹ Backend uses Node.js to make the API call to requested JSON data and renders with a single route
        </li>
        <li>
          ▹ Highcharts is used to display the data in a dynamic bar chart
        </li>
        <li>
          ▹ Using jQuery's Datepicker widget to select specific dates based off JSON data.
        </li>
      </ul>
    </div>
  </div> <!-- Close of Sinatra Todo List -->

</section>